/* Estilização da seção de áudio */
.audio-explicacao {
    background: rgba(255, 255, 255, 0.15);
    backdrop-filter: blur(12px);
    -webkit-backdrop-filter: blur(12px);
    border: 1px solid rgba(255, 255, 255, 0.25);
    margin: 40px auto;
    padding: 25px 30px;
    width: 80%;
    max-width: 700px;
    text-align: center;
    border-radius: 15px;
    color: #fff;
    box-shadow: 0px 0px 12px rgba(0,0,0,0.35);

}

.audio-explicacao h2 {
    font-size: 26px;
    margin-bottom: 10px;
    font-weight: 600;
    text-transform: uppercase;
    letter-spacing: 1px;
}

.audio-explicacao p {
    font-size: 15px;
    opacity: 0.9;
    margin-bottom: 15px;
}

/* Player de áudio */
.audio-explicacao audio {
    width: 100%;
    outline: none;
    border-radius: 8px;
}

